* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  /* width: 1500px; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  color: #494848;
}

/*Universal Style*/

hr {
  color: #ececec;
  margin: 0 auto;
  margin: 0 125px;
}

.ft-weight_light {
  font-weight: 300;
}

.ft-weight_regular {
  font-weight: 400;
}

.ft-weight_bold {
  font-weight: 700;
}

.ft-weight_bold-italic {
  font-weight: 700;
  font-style: italic;
}

.h-2-fs-40px {
  font-size: 40px;
}

.section-margin-top-bottom_100px {
  margin: 100px 0;
}

.left-right-padding {
  padding: 0 125px;
}

.h-p-margin-bottom {
  margin-bottom: 40px;
}

.btn-margin-top_60px {
  margin-top: 60px;
}

.h-text-color {
  color: #333333;
}

.p-color-regular_darker {
  color: #494848;
}

.p-color-regular_black {
  color: black;
}

.btn_xs {
  width: 230px;
  height: 55px;
  border-radius: 5px;
  border: 0px;
  font-size: 20px;
  transition: 0.8s;
  transition-timing-function: ease-in;
}

.btn_xs:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
}

/*WRAPPER*/
.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  overflow: hidden;
}

/* S1 */
.organization {
  background: #f6f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  text-align: center;
  background-color: #313030;
  width: 1250px;
  padding: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

nav a:hover {
  background-color: red;
}

.organization-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.organization-text {
  justify-content: center;
  align-items: center;
}

.organization-text h1 {
  font-size: 60px;
}

.organization-text p {
  padding: 0 15px 0 0;
}

.organization-text .btn_xs {
  color: white;
  background-color: red;
}

.organization-video {
  position: relative;
}

.organization-video .video-icon:hover {
  background-color: red;
  border-radius: 50%;
}

.video-icon {
  position: absolute;
  left: 45%;
  top: 45%;
}

/* S2 */
.provide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.provide-text {
  width: 50%;
}

.provide-text p {
  padding: 0 80px 0 0;
}

.provide-text .btn_xs {
  color: red;
  background-color: white;
  border: 2px solid red;
}

.provide-features {
  width: 50%;
}

.provide-features ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.provide-features li {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
}

.provide-features img {
  margin-bottom: 20px;
}

.provide-features h3 {
  margin-bottom: 10px;
}

.provide-features p {
  padding-right: 15px;
}

/* TODO:  */
/* Animation provide-features  */
/* 
transition: 0.8s;
transition-timing-function: ease-in; */
/* 
.block {
   transition: transform 0.6s cubic-bezier(0.6, -0.28, 0.735, 0.045);
   } */

.gear-animation {
  transition: transform 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition-timing-function: ease-in;
  /* transform: rotate(360deg); */
}

.gear-animation:hover {
  /* transform: rotate(360deg); */
  transform: translate(220px, 0);
}

/* S3 */
.feature-content {
  text-align: center;
}

.feature-content p {
  padding: 0 30%;
  margin-bottom: 30px;
}

.feature-content h2 {
  margin-top: 100px;
}

.feature-content hr {
  width: 130px;
  color: red;
  margin: 0 auto;
}

.feature-template {
  text-align: center;
  margin-bottom: 200px;
  margin-top: 90px;
}

.feature-template a {
  text-decoration: none;
  font-size: 22px;
  margin: 0 30px;
  margin-bottom: 70px;

}

.feature-template a:hover {
  color: red;
}

.feature-template-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.feature-template-imgs__item img {
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: #f5f0dd;
}

.team {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.team-meet hr {
  width: 130px;
  color: red;
  margin: 0;
  margin-top: 30px;
}

.team-master-page {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

.team-master-img img {
  width: 330px;
  height: 500px;
  background-color: #f5f0dd;
}

.team-master-content {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-left: 50px;
}

.team-master-content h3 {
  margin: 15px 0 40px 0;
}

.team-master-content ul {
  list-style: none;
}

.team-master-content_direction-row {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.team-master-content_direction-row li {
  margin-right: 30px;
}

.team-master-content_direction-row a {
  text-decoration: none;
}

.team-master-content_direction-row a:hover {
  color: coral;
}

.team-master-content__img {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

.team-master-content__img img {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  margin: 5px 10px;
  background-color: #f5f0dd;
}

/* S5 */

.desing-tips {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f0dd;
  padding: 100px 0;
  color: white;
}

.design-tips-form {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

.design-tips-form input {
  width: 520px;
  height: 55px;
  border-radius: 5px;

}

.design-tips-form-btn button {
  text-transform: uppercase;
  margin-left: 20px;
  color: white;
  background-color: red;
}

/* S6 */

.touch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.touch-content h2 {
  text-transform: uppercase;
}

.touch-content hr {
  width: 130px;
  color: red;
  margin: 0;
  margin-top: 30px;
}

.touch-content p {
  width: 50%;
}

.content-2 {
  margin-top: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.content-2-form {
  display: flex;
  flex-wrap: wrap;
  width: 60%;

}

.content-2-form textarea {
  width: 750px;
}


.form-field input {
  width: 340px;
  height: 55px;
  background-color: #e5e5e5;
  border-radius: 5px;
  border: 0px;
}

.form-field-ta textarea {
  background-color: #e5e5e5;
  border-radius: 5px;
  border: 0px;
  margin-top: 50px;
}

.form-margin-right_70px {
  margin-right: 70px;
}

.content-2-form-btn {
  width: 100%;
  margin-top: 45px;
}

.content-2-form-btn button {
  width: 100%;
  height: 55px;
  color: white;
  background-color: red;
}

.contact-info {
  width: 30%;
  height: 447px;
  color: #d5d5d5;
  background-color: #2d2d2d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;
}

.contact-info p,
.contact-info h3 {
  margin-bottom: 10px;
  margin-left: 50px;
}